.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-control, .form-check, .form-control-file{
    margin-bottom: 20px;
}

.logoutButton{
    margin-left: 20px;
}