<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/head :: head"></head>
<body>

<header th:insert="blocks/header :: header"></header>

<main>

  <div class="album py-5 bg-light">
    <div class="container">
      <div  class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div th:each="el : ${exercises}" class="col mb-4">
          <div class="card shadow-sm">
            <img th:src="'/img/exercises/' + ${el.getId()} + '/' + ${el.getMainPhotoPath()}"
                 class="img-thumbnail img-fluid"
                 alt="фото упражнения">

            <div class="card-body">
              <h3 th:text="${el.title}"></h3>
              <p th:text="${el.anons}" class="card-text"></p>
              <div class="d-flex justify-content-between align-items-center">
                  <a th:href="'/exercises/' + ${el.id}" class="btn btn-outline-primary">Подробнее</a>
                  <small th:text="${el.views}" class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>