<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/head.html :: head"></head>

<body class="text-center">

<header th:insert="blocks/header.html :: header"></header>

<main>
    <h3 th:text="${title}"></h3>

    <div th:if="${param.error}">
        Неправильно введен логин или пароль.
    </div>
    <div th:if="${param.logout}">
        Вы вышли из учетной записи.
    </div>

    <form th:action="@{/login}" method="POST" class="form-signin">
        <input type="text" name="username" class="form-control" placeholder="никнейм" required autofocus/>
        <input type="password" name="password" class="form-control" placeholder="пароль" required/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
    <a href="/registration">Зарегистрироваться</a>

    <footer th:insert="blocks/footer :: footer"></footer>

</main>
</body>
</html>