<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/head :: head"></head>

<body class="text-center">

<header th:insert="blocks/header :: header"></header>
<main>
    <h3 th:text="${title}"></h3>

    <form th:action="@{/registration}" method="post" class="form-signin">
        <input type="text" name="email" class="form-control" placeholder="e-mail" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Пароль" required>
        <input type="text" name="firstName" class="form-control" placeholder="Имя">
        <input type="text" name="lastName" class="form-control" placeholder="Фамилия">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
    </form>

    <footer th:insert="blocks/footer :: footer"></footer>

</main>
</body>
</html>