<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/head :: head"></head>
<body>

<header th:insert="blocks/header :: header"></header>

<main>
    <section class="py-5 text-center container">
        <h3 th:text="${title}" class="fw-light"></h3>
        <form th:action="@{/users}" method="post" class="form-signin">
            <input type="text" name="username" class="form-control" value="Никнейм" th:value="${user}" required>
            <input type="password" name="password" class="form-control" th:value="${user.getPassword()}" placeholder="Пароль" required>
            <input type="email" name="email" class="form-control" placeholder="Почта" required>
            <input type="text" name="firstName" class="form-control" placeholder="Имя">
            <input type="text" name="lastName" class="form-control" placeholder="Фамилия">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Изменить</button>
        </form>
    </section>
</main>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>